
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb start -->
<section class="about-breadcrumb">
    <div class="about-back section-tb-padding" style="background-image: url(/Content/image/about-image.jpg)">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about-l">
                        <ul class="about-link">
                            <li class="go-home"><a href="index1.html">Home</a></li>
                            <li class="about-p"><span>Privacy policy</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end -->
<!-- faq's collapse start -->
<section class="privacy-area section-tb-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="privacy-title">
                    <h1>Privacy policy</h1>
                </div>
                <div class="privacy-content">
                    <ul class="privacy-policy">
                        <li>
                            <p>Delivery charge varies with each product. Most of product FREE delivery in india. Some items may have a shipping cost depending on the product.</p>
                        </li>
                        <li>
                            <p>The estimated time of delivery is within 7 working days for domestic orders and 15-20 working days for international orders. all orders get shipped within 4 to 5 days from the our warehouse.</p>
                        </li>
                        <li>
                            <p>We try to process all deliveries through reputed courier companies like bluedart, aramex, E-come, DTDC, DHL and fedex. In some cases, your pincode is not serviceable by these courier companies, we use indian speed post for those deliveries.</p>
                        </li>
                        <li>
                            <p>All items are carefully packaged as to avoid any form of damage.</p>
                        </li>
                        <li>
                            <p>Basket offers you multiple payment methods. Whatever your online mode of payment, you can trust assured that basket trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.</p>
                        </li>
                        <li>
                            <p>You may use internet banking, debit card, credit card and cash on delivery to make your purchase. We also accept payments made using visa, mastercard, american express and any club credit/debit cards.</p>
                        </li>
                        <li>
                            <p>You can make credit card payments through the basket mobile site. Basket uses 256-bit encryption technology to protect your card information while securely transmitting it to the secure and trusted payment gateways managed by leading banks.</p>
                        </li>
                        <li>
                            <p>All credit/debit card details remain confidential and private. Basket and our trusted payment gateways use SSL encryption technology to protect your card information.</p>
                        </li>
                        <li>
                            <p>Basket does not collect or store your account information at all. Your transaction is authorized at multiple points, first by EBS/CCavenue and subsequently by visa/mastercard/amex secure directly without any information passing through us.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq's collapse end -->
